$color-array: (
    blue: $col-blue, 
    green: $col-green, 
    orange: $col-oran,
);

@each $name, $col-btn in $color-array {
    .btn-color-#{$name} {
        background-color: #{$col-btn};
        color: $col-text;
    }
}

.btn {
    width: 8em;
    border: 0;
    padding: 1.2em;
    margin: 0.1em;
    &:hover{
    transform: scale(0.95);
    }
}