.hero-section{
    display: flex;
    justify-content: space-between;
    position: relative;

    h1 {
        @include title-big;
    }
    button {
    @include buttonStyle;
    } 
    img {
    max-width: 30%;
    position: absolute;
    top: 0;
    right: 200px;
    @include floating;
    }
}
