$spacing: (
xs: 0.75em,
n: 1em,
md: 1.5em,
lg: 2.25em,
xl: 3em,
xxl: 10em,
);
@mixin generated-margin($direction: null) {
    @each $size, $value in $spacing{
        .margin-#{$direction}-#{$size} {
           @if $direction {
            margin-#{$direction}: $value;

        } @else { 
            margin: $value;
        }
     }
  }
}
@mixin generated-padding($direction: null) {
    @each $size, $value in $spacing{
        .padding-#{$direction}-#{$size} {
           @if $direction {
            padding-#{$direction}: $value;
        } @else { 
            padding: $value;
        }
     }
  }
}

@include generated-padding(inline);
@include generated-padding(block);


@include generated-margin(inline);
@include generated-margin(block);
