
body, .cart-product button {
    color: #612406;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2em;
    text-align: center;
    margin: 1em;
    font-weight: 700;
    white-space: wrap;
}

.cart-product div {
    padding: 0.5em 0.5em 0.9em;
}

#all-Cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-product {
    background-color:#fbf7e3;
    display: flex;
    flex-direction: column;
    max-width: 25em;
    margin-bottom: 2em;
    border-radius: 5em;        
}

.cart-product img {
    max-width: 100%;
    border-radius: 5em 5em 0 0;
    margin-bottom: 1em;
}

.product-Text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-product button {
    width: 10em;
    height: 2em;
    align-self: center;
    border: none;
    border-radius: 50px;
    background-color: #f3df85;
    margin-bottom: 1em;
    font-weight: 700;
}
.product-Text div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.product-Text div:nth-child(1) h4 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.3em;
}
.product-Text div:nth-child(1) p {
    margin-top: 0;
    text-align: center;
}
.product-Text div:nth-child(1) p, .product-Text div:nth-child(2) {
    font-size: 1.1em;
}

@media screen and (min-width: 577px) {
   #all-Cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
   }
   .cart-product {
    width: 16em;
    margin-left: 1em;
    }
    .product-Text {
        padding: 2em;
    }
    #fifth {
        display: none;
    }
}
@media screen and (min-width: 769px) {
   
    #all-Cards {
        flex-wrap: nowrap;
    }
    .cart-product {
        margin: 1em;
    }
    .product-Text div:nth-child(1) h4 {
        white-space: wrap;
        text-align: center;
    }
    .product-Text div:nth-child(1) p {
        white-space: nowrap;    
    }
    .cart-product button {
        width: 10em;
        height: 3em;
        font-size: 1em;
    }
        #fourth {
        display: none;
        }
    
    }
@media screen and (min-width: 993px) {
    .cart-product button {
        width: 8em;
        height: 3em;
        font-size: 1em;
    }
    #fourth {
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 1201px) {

    #fifth {
        display: inline-block;
        text-align: center; 
    }
}